.frontend-para {
  /* Display and Box Model */
  margin: 0;
  padding: 16px;

  /* Others */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: lighter;
  color: white;

  background-color: black;
  border: 2px dashed #888;
  border-radius: 8px;
}
